{% extends 'base.html' %}

{% block content %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Lista de Observaciones
        <small></small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Observaciones</h3>
        </div>
        <div class="box-body">
          <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title"></h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                   <button type="button" class="btn btn-block btn-success"><a href="/observaciones/nuevo/">Nuevo</a></button>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>Id</th>
                  <th>Alumno</th>
                  <th>Observacion</th>
                  <th>Fecha</th>
                </tr>       
              {% for obs in object_list %}
                <tr>
                  <td>{{ obs.id }}</td>
                  <td>{{ obs.alumno }}</td>
                  <td>{{ obs.observacion }}</td>
                  <td>{{ obs.fecha }}</td>
                  <td>   <button type="button" class="btn btn-block btn-warning btn-xs"><a href="{% url "control:editar-observacion" obs.id %}">Editar</a></button></td>
                </tr>
              {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
          
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
{% endblock %}

